<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624647510222-j6ed4124l7lsc7ufric0a7kru1aqv960.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624647510222-j6ed4124l7lsc7ufric0a7kru1aqv960</string>
	<key>API_KEY</key>
	<string>AIzaSyBx4W99kEbzaEkVGvEjMqVdlhBsvMFi04k</string>
	<key>GCM_SENDER_ID</key>
	<string>624647510222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.cs371l-tictactoe</string>
	<key>PROJECT_ID</key>
	<string>cs371l-tictactoe</string>
	<key>STORAGE_BUCKET</key>
	<string>cs371l-tictactoe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624647510222:ios:90e9c692d81ccb47f5d89f</string>
	<key>DATABASE_URL</key>
	<string>https://cs371l-tictactoe.firebaseio.com</string>
</dict>
</plist>